.body{
    margin:20px;
}

.photo{
    width: 150px;
    border-radius:40px;
    border: 4px inset #a5a5a5;
}

.card{
    width: 400px;
    margin: 50px auto;  /* first param top & bottom */
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    background-color:#f2f2f2;
    color: #2b2839 ;            /*color combos */  
  
    /*color palet from coolers.co*/

    border-radius: 20px;
    border: 5px inset #a5a5a5;
    border-bottom: 4px solid #a5a5a5;

}

.shadow{
    text-shadow: 2px 2px #a5a5a5;
}

h1:hover{
    background-color: #cccccc;
}
p:hover{
    background-color: #cccccc;
}
h4:hover{
    background-color: #cccccc;
}